@use '../utilities' as *;

/* Crew */
.crew {
    $root: &;

    padding-top: clamp(5.5rem, 1.977rem + 15.03vw, 13.25rem);
    background-image: url('/crew/background-crew-mobile.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;

    @include breakpoint('md') {
        background-image: url('/crew/background-crew-tablet.jpg');
    }

    @include breakpoint('lg') {
        display: flex;
        background-image: url('/crew/background-crew-desktop.jpg');
    }

    &__container {
        padding-inline: clamp(1.5rem, 0.548rem + 4.061vw, 2.5rem);

        @include breakpoint('lg') {
            max-width: 74.375rem;
            margin: 0 auto;
            flex: 1;
        }
    }

    &__title {
        position: relative;
        padding-left: 2.3rem;
        margin-bottom: clamp(2rem, 0.092rem + 8.142vw, 4rem);

        @include breakpoint('lg') {
            padding-left: 3.375rem;
            margin-bottom: 0;
        }

        &::before {
            position: absolute;
            counter-increment: section;
            content: "0"counter(section);
            top: 0;
            left: 0;
            font-weight: 700;
            opacity: 0.25;
        }
    }

    &__content-wrapper {
        @include breakpoint('md') {
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include breakpoint('md') {
            height: 100%;
            justify-content: space-between;
            cursor: grab;
        }

        @include breakpoint('lg') {
            flex-direction: row;
            align-items: end;
            text-align: left;
        }
    }

    &__image-wrapper {
        border-bottom: 1px solid rgba($c-purple-light, 0.3);
        height: 17.5rem;

        @include breakpoint('md') {
            order: 1;
            border-bottom: unset;
            height: 21.875rem;
        }

        @include breakpoint('lg') {
            height: unset;
        }
    }

    &__image {
        height: 100%;
        margin: 0 auto;
        
        @include breakpoint('lg') {
            max-height: 650px;
        }

        &.anim-out {
            animation: crew-image-out 700ms ease-in-out forwards;
        }

        &.anim-in {
            animation: crew-image-in 700ms ease-in-out forwards;
        }
    }

    &__info {
        display: grid;

        @include breakpoint('md') {
            order: 0;
        }

        @include breakpoint('lg') {
            margin-bottom: 6.25rem;
        }
    }

    &__subheading {
        opacity: 0.5;
        margin-bottom: 0.5rem;

        &.anim-out {
            animation: crew-subheading-out 700ms ease-in-out forwards;
        }

        &.anim-in {
            animation: crew-subheading-in 700ms ease-in-out forwards;
        }
    }

    &__name {
        margin-bottom: 1rem;

        &.anim-out {
            animation: crew-name-out 700ms ease-in-out forwards;
        }

        &.anim-in {
            animation: crew-name-in 700ms ease-in-out forwards;
        }
    }

    &__desc {
        min-height: 8.75rem;
        max-width: 63ch;
        margin: 0 auto;

        @include breakpoint('md') {
            max-width: 51ch;
        }
        
        @include breakpoint('lg') {
            max-width: 44ch;
            margin: 0;
        }

        &.anim-out {
            animation: crew-fade-out 700ms ease-in-out forwards;
        }

        &.anim-in {
            animation: crew-fade-in 700ms ease-in-out forwards;
        }
    }

    &__controls {
        grid-row: -1;
        display: flex;
        justify-content: center;
        margin-block: 2rem;
        gap: 1rem;

        @include breakpoint('md') {
            grid-row: unset;
        }

        @include breakpoint('lg') {
            justify-content: start;
            margin-top: 7.5rem;
        }
    }

    &__control {
        width: 10px;
        height: 10px;
        background-color: rgba($c-white, 0.17);
        border-radius: 50%;
        border: none;
        cursor: pointer;

        @include breakpoint('md') {
            transition: background-color 350ms ease-in-out;

            &:hover {
                background-color: $c-white;
            }
        }

        &.is-active {
            background-color: $c-white;
        }
    }
}